<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stats - Rocket</title>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=<%= key %>"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', "G-NXL9764MWW");
    </script>
    <link rel="stylesheet" href="/static/css/style.css" type="text/css">
    <link rel="shortcut icon" href="/static/img/icon.png" type="image/png">
  </head>
  <body>
    <header>
      <img src="/static/img/icon.png" alt="Rocket Icon" class="icon">
      <br>
      <h3 class="name">Rocket</h3>
      <% if(!req.isAuthenticated()) { %>
        <button class="btn login" onclick="location.href='/login'">Login</button>
      <% } else { %>
        <img src="https://cdn.discordapp.com/avatars/<%= req.user.id %>/<%= req.user.discord.avatar %>.gif" alt="User Avatar" class="user-avatar">
        <h3 class="user-username"><%= req.user.discord.username %></h3>
        <button class="logout" onclick="location.href='/logout'">Logout</button>
      <% } %>
    </header>
    <br>
    <h1><%= client.user.username %> Stats!</h1>
    <h3 class="description">Here are all the stats for the client!</h3>
    <br>
    <br>
    <div class="stats-view">
      <h4 class="stat">The client is in <code><%= client.guilds.cache.size %></code> servers.</h4>
      <br>
      <hr>
      <br>
      <h4 class="stat">The client is watching over <code><%= client.users.cache.size %></code> users.</h4>
      <br>
      <hr>
      <br>
      <h4 class="stat">The client is in <code><%= distube.voices.collection.size %></code> Voice Channels.</h4>
      <br>
      <hr>
      <br>
      <h4 class="stat">The client has <code><%= users %></code> users cached in the database.</h4>
    </div>
    <br>
    <footer>
    <h2 class="copyright-info">
      <small>
        © 2022 <span class="fade-green">Yoshiboi18303</span> <span class="black">|</span> <span class="fade-blue">Rocket</span> is licensed under the <a href="https://github.com/Yoshiboi18303/Rocket/blob/main/LICENSE" class="link black">GNU General Public License</a>.
      </small>
    </h2>
    <br>
    <div class="links">
      <a href="/" class="link" rel="noreferrer">Back To Home</a>
      <a href="https://github.com/Yoshiboi18303/Rocket" class="link" target="_blank" rel="noreferrer">Source Code</a>
      <a href="https://discord.gg/AC9FfKAxAa" class="link" target="_blank" rel="noreferrer">Support Server</a>
    </div>
  </footer>
  </body>
</html>